@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    /* primary */
    --SoftBlue:hsl(215, 51%, 70%);
    --CyanHsl:hsl(178, 100%, 50%);


    /* main Bg*/
    --VeryDarkBlue : hsl(217, 54%, 11%);
    /* card bg */
    --VeryDarkblue :hsl(216, 50%, 16%);
    /* line */
    --veryDarkBlue:hsl(215, 32%, 27%);

    --white:hsl(0, 0%, 100%);

    --font:18px;
}

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-wrap:wrap;
    height: 100vh;
    align-items: center;

}

main {
    width: 350px;
    margin:0 auto;
    padding:30px ;
    height: 66vh;
    background-color: var(--VeryDarkblue);
    overflow: hidden;
    border-radius: 25px;
}

.img {
    width: 100%;
    position: relative;
    cursor: pointer;
}

#img  {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

#img img {
    width: 100%;
    height: 100%;
}

.imgHover {
    position: absolute; 
    border-radius: 10px;
    background:hsl(178, 100%, 50%); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height:100%;
    transition: .5s ease;
    opacity:0;
    top:0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .img:hover .imgHover {
    opacity:0.7;
} 


.body h1 {
    width: 100%;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 20px;
    color:var(--white);
    cursor: pointer;
}

.body h1:hover {
    color:var(--CyanHsl)
}

.body p {
    font-size: var(--font);
    color: var(--SoftBlue);
    padding-bottom: 20px;
    width: 100%;
    line-height: 26px;
}

.bodyBottom {
    display: flex;
    flex:1;
    color: var(--SoftBlue);
    align-items: center;
    justify-content: space-between;
}

.bodyBottom p:first-child {
    color:var(--CyanHsl);
}

.bodyBottom p:last-child {
    text-align: end;
}

.bodyNames {
    display: flex;
    padding-top: 20px;
    border-top: 2px solid var(--veryDarkBlue);
}

.imgName {
    flex: 14%;
}

#imgName {
    width:100%;

    border-radius: 50%;
    height: 40px;
    border:1px solid var(--white)
}

#imgName img {
    width:100%;
    height: 100%;
}

.name {
    flex:86%;
    display: flex;
    align-items: center;
}

.name p {
    font-size: var(--font);
    color: var(--SoftBlue);
    padding-left: 10px;
}

.name a {
    text-decoration: none;
    color:var(--white)
}

.name a:hover {
    color:var(--CyanHsl);
}

.attribution {
    width: 100%;
    align-self: flex-end;
    padding: 20px;
    background: var(--VeryDarkblue);
    font-size: var(--font);
    color: var(--SoftBlue);
}

.attribution a {
    color:var(--CyanHsl);
    text-decoration: none;
}